.index-top {
	width: 100%;
	float: left;
}

.index-topbox {
	width: 1200px;
	margin: 10px auto;
}

.i-top-one {
	float: left;
	width: 312px;
	height: 71px;
}

.i-top-two {
	margin-left: 48px;
	width: 378px;
	float: right;
	margin-top: 24px;
}

.i-top-two ul li {
	width: 186px;
	float: left;
}

.i-top-two-a {
	float: left;
	width: 44px;
	height: 44px;
}

.i-img2 {
	width: 44px;
	height: 44px;
}

.i-top-two-b {
	width: 137px;
	float: left;
	margin-left: 5px;
}

.i-pp1 {
	line-height: 20px;
	color: #666666;
}

.i-top-three {
	float: right;
	width: 205px;
}

.i-pp2 {
	width: 205px;
	line-height: 36px;
	text-align: right;
	color: #008c3e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.i-top-three-a {
	position: relative;
	width: 205px;
	height: 32px;
}

.i-inp1 {
	border: 1px solid #cccccc;
	width: 193px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.i-img3 {
	width: 20px;
	height: 19px;
	position: absolute;
	top: 6px;
	right: 16px;
	z-index: 2;
}


/*导航栏*/

.nav {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 3px;
}

.nav ul {
	width: 1200px;
	height: 32px;
	margin-top: 25px;
}

.nav ul li {
	float: left;
	height: 28px;
	background: url(../img/index_21.jpg) left center no-repeat;
	text-align: center;
	padding: 5px 0;
	padding: 0 25px 0 35px;
}

.i-pp3 {
	font-size: 15px;
	color: #666666;
	line-height: 15px;
}

.i-pp4 {
	font-size: 12px;
	color: #cccccc;
	line-height: 16px;
	text-transform: uppercase;
}

.nav ul li a:hover .i-pp3 {
	color: #008c3e;
}

.index-one-a {
	width: 1200px;
	/*float: left;*/
	text-align: center;
	/*	margin-top: 10px;*/
	background: url(../img/index_27.jpg) bottom center no-repeat;
	margin-bottom: 20px;
}

.index-one {
	width: 100%;
	float: left;
}

.i-pp5 {
	font-size: 18px;
	color: #008c3e;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 60px;
}

.i-pp6 {
	font-size: 20px;
	color: #999999;
	display: inline-block;
	font-weight: bold;
	line-height: 55px;
}

.i-pp7 {
	width: 1400px;
	float: left;
	color: #999999;
	text-align: center;
	line-height: 50px;
}

.pagemain {
	width: 1210px;
	margin: 0 auto;
}

.jibingmod {
	margin-top: 20px;
	float: left;
	width: 100%;
}

.index-three {
	background: url(../img/1.png) no-repeat left;
}

.index-three-c {
	float: left;
	width: 100%;
}

.lineset {
	float: left;
	width: 100%;
	line-height: 30px;
}

.i-pp10 {
	width: 90%;
	font-size: 16px;
	color: #333333;
	line-height: 40px;
	float: left;
	/*text-align: center;*/
	font-family: "微软雅黑";
	margin-left: 100px;
}

.index-three-d {
	width: 130px;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

.index-three-d1 {
	width: 130px;
	margin: 15px auto;
}

.i-pp11 {
	width: 120px;
	height: 34px;
	border: 1px solid #b3b3b3;
	text-align: center;
	line-height: 34px;
	color: #008c3e;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.jibingnav1 {
	width: 100%;
	margin: 0 auto;
}

.mod3 {
	float: left;
	width: 107px;
	margin-left: 100px;
	margin-right: 20px;
	margin-top: 20px;
}

.mod3 .mod3pic {
	float: left;
	width: 107px;
}

.mod3 .mod3pic img {
	float: left;
}

.mod3 a {
	float: left;
	width: 107px;
	height: 160px;
}

.mod3 a .mod3tit1 {
	float: left;
	width: 107px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #595757;
	text-align: center;
}

.index-three-d a:hover {
	background-color: #008c3e;
	color: #fff;
}


/*新闻动态*/

.list-group {
	margin-bottom: 20px padding-left: 0
}

.list-group-item {
	border: 1px solid transparent
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: .215rem;
	border-bottom-left-radius: .215rem
}

.list-group-item {
	position: relative;
	display: block;
	/*margin-bottom: -1px;*/
	padding: .75rem 1.25rem;
	border: 1px solid transparent;
	background-color: #fff
}

.new-items {
	width: 380px;
	float: left;
	padding: 0 10px;
	/*margin-left: 20px;
	margin-top: 20px;*/
}

.news-item .list-group {
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .15);
	padding: 10px 15px 10px 15px;
}

.news-item .list-group-item {
	padding-left: 0;
	padding-right: 0;
	border: none;
	height: 22px;
}

.news-item .list-group-item.active h4 {
	font-size: 20px;
	color: #008c3e;
}

.news-item .list-group-item.active a {
	font-size: 12px;
	color: #666;
}

.news-item .list-group-item.active a:hover {
	color: #008c3e;
}

.news-item .list-group-item.active {
	height: 35px;
}

.news-item .list-group-item.news-li a {
	font-size: 14px;
	width: 65%;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	text-decoration: none;
	float: left;
	margin-left: 20px;
}


/*.news-item .list-group-item.news-li{
	border-bottom: 1px dashed #000000;
	}*/

.news-item .list-group-item.news-li span {
	font-size: 14px;
	color: #666;
	float: left;
}

.news-item .list-group-item.news-li a:hover {
	color: #008c3e;
	font-size: 15px;
}

.container {
	width: 100%;
	height: 380px;
	padding-left: 142px;
}

.p_new {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #008c3e;
	margin-top: 13px;
	font-family: "microsoft yahei";
}

.news_more {
	position: absolute;
	top: 22px;
	right: 0px;
}

.borde-content:after {
	content: '';
	position: absolute;
	width: 200%;
	height: 1px;
	bottom: 1px;
	border-bottom: 2px solid #008c3e;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}


/* ----------------
      师资力量
 ------------------*/

.index-five {
	margin-top: 60px;
	position: relative;
	height: 556px;
	background: #f7f7f7;
	/*background: url(../img/bg_5.jpg) no-repeat center;*/
}

.team_intr {
	width: 1200px;
	height: 478px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	flex: 1;
	/*float: left;*/
}

.mod5 {
	position: absolute;
	top: 55px;
	left: 26px;
	width: 377px;
	height: auto;
	min-height: 40px;
}

.team_img {
	width: 787px;
	height: 368px;
	position: absolute;
	left: 414px;
	top: 70px;
}

.mod5_1 {
	height: 50px;
	border-bottom: 2px solid #008c3e;
}

.mod5_2 {
	margin-top: 10px;
}

.img_items_1 {
	position: absolute;
	left: 70px;
	height: auto;
}

.img_items_2 {
	position: absolute;
	left: 320px;
	height: auto;
}

.img_items_3 {
	position: absolute;
	left: 560px;
	height: auto;
}

.trainmod1 {
	float: left;
	width: 255px;
	margin-left: 45px;
}

.trainmod1pic {
	width: 180px;
	height: 200px;
	position: relative;
}

.trainmod1pic img {
	position: absolute;
	left: 0;
	top: 20px;
	width: 180px;
	height: 180px;
	border-radius: 93px;
	-moz-border-radius: 93px;
	-webkit-border-radius: 93px;
	z-index: 3;
}

.name {
	text-align: center;
	margin-top: 30px;
	line-height: 24px;
	font-size: 16px;
}

.name a {
	font-size: 16px;
	display: block;
	font-family: "微软雅黑";
	padding: 0px 0 4px 0;
}

.name span {
	font-size: 16px;
}


/* ----------------
       界面过度动画
 ------------------*/

.animate-line {
	position: relative;
}

.animate-line:after {
	content: '';
	position: absolute;
	top: 65px;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: #ccc;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.animate-line:hover:after {
	left: 3%;
	width: 94%;
}


/* ----------------
     友情链接页面
 ------------------*/

.index-eight {
	background: #45474b;
	height: 68px;
	padding: 19px 0;
}

.i-img8 {
	width: 176px;
	height: 68px;
}

.index-eight-a {
	width: 71px;
	height: 68px;
	background: #008c3e;
	float: left;
}

.i-pp27 {
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 5px;
	margin-left: 8px;
}

.index-eight-b {
	margin-left: 12px;
	width: 176px;
	height: 68px;
	float: left;
}

.index-eight-c {
	width: 155px;
	height: 68px;
	background: #008c3e;
	float: left;
	margin-left: 12px;
	text-align: center;
}

.i-pp28 {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	line-height: 68px;
}

.index-eight-b a:hover .i-img8 {
	border: 1px solid #fff;
}

.footer-pp1 {
	color: #969799;
	font-size: 13px;
}

.footer-two a {
	display: inline;
	color: #969799;
	font-size: 13px;
}

.footer-two {
	width: 100%;
	float: left;
	background: #24272c;
	text-align: center;
	line-height: 60px;
}

.index-lianjie {
	width: 1200px;
	margin-left: 159.6px;
}


/* ----------------
    网站地图
 ------------------*/

.index-footer {
	height: 270px;
	background: #282b32;
	padding-top: 40px;
}

.footer-a {
	float: left;
	width: 187px;
}

.i-pp29 {
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #FFF;
}

.i-pp30 {
	color: #969799;
	line-height: 15px;
	font-size: 13px;
	margin-bottom: 18px;
}

.i-pp31 {
	font-size: 16px;
	line-height: 40px;
	color: #FFF;
	width: 213px;
	padding: 0 72px;
}

.footer-a-a {
	width: 186px;
	border-left: 1px solid #3f444a;
	height: 207px;
	margin-top: 24px;
	text-align: center;
	overflow: hidden;
}

.footer-b {
	float: left;
	width: 214px;
}

.footer-b-a {
	width: 213px;
	border-left: 1px solid #3f444a;
	margin-top: 24px;
	text-align: center;
	overflow: hidden;
}

.footer-c {
	float: left;
	width: 209px;
}

.footer-c-a {
	width: 207px;
	border-left: 1px solid #3f444a;
	height: 207px;
	margin-top: 24px;
	text-align: center;
	overflow: hidden;
}

.footer-d {
	float: left;
	width: 358px;
}

.footer-d-a {
	width: 224px;
	padding: 0 61px 0 72px;
	border-left: 1px solid #3f444a;
	height: 207px;
	margin-top: 24px;
	text-align: left;
	overflow: hidden;
}

.footer-d-c {
	width: 224px;
	float: left;
}

.footer-d-b {
	width: 224px;
	text-align: left;
	float: left;
	margin-top: 30px;
	height: 35px;
}

.i-img9 {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 14px;
}

.i-pp32 {
	font-size: 12px;
	color: #969799;
}

.i-pp33 {
	font-size: 20px;
	color: #969799;
}

.i-pp35 {
	color: #969799;
	line-height: 15px;
	font-size: 13px;
}

.footer-e {
	float: left;
	width: 231px;
}

.footer-e-a {
	width: 152px;
	border-left: 1px solid #3f444a;
	height: 207px;
	margin-top: 64px;
	text-align: center;
	overflow: hidden;
	padding-left: 78px;
}

.index-map {
	width: 1200px;
	margin-left: 159.6px;
}


/*底部鼠标滑过的状态*/

.footer-two a:hover {
	color: #008c3e;
}

.index-footer a:hover {
	color: #fff;
}


/*关于我们页面*/

.bannermod {
	float: left;
	width: 100%;
	height: 219px;
	margin-top: 10px;
}

.pagemain {
	width: 1210px;
	margin: 0 auto;
}

.bannermod1pos {
	float: left;
	width: 100%;
	height: 219px;
	position: relative;
}

.bannermod1bg {
	position: absolute;
	width: 237px;
	height: 90px;
	background: #127569;
	opacity: 0.7;
	filter: Alpha(opacity=70);
	right: 130px;
	bottom: 50px;
}

.bannermod1 {
	position: absolute;
	width: 217px;
	height: 70px;
	padding-top: 20px;
	padding-left: 20px;
	right: 130px;
	bottom: 50px;
}

.bannertit1 {
	float: left;
	width: 217px;
	line-height: 30px;
	font-size: 23px;
	color: #fff;
}

.bannertit2 {
	float: left;
	width: 217px;
	line-height: 20px;
	font-family: "Arial";
	font-size: 18px;
	color: #fff;
}

.about-one {
	width: 100%;
	height: 557px;
	float: left;
}

.about-content {
	width: 1200px;
	margin: 0 auto;
}

.about_wenzi {
	margin-top: 30px;
	float: left;
	width: 41.66%;
	height: auto;
}

.about_img {
	width: 58.33%;
	overflow: hidden;
	height: 100%;
	padding-top: 10px;
}

.about_img img {
	padding-top: 60px;
	display: block;
	width: 85%;
	height: auto;
	padding-left: 60px;
}

.fk-editor {
	color: rgb(221, 221, 221);
	font-family: "微软雅黑";
	font-size: 24px;
	text-align: left;
}

.fk-editor-cp {
	color: rgb(221, 221, 221);
	font-family: "微软雅黑";
	font-size: 24px;
	text-align: center;
}

.about_img2 {
	float: left;
	width: 58.33%;
	overflow: hidden;
	height: 100%;
}

.about_wenzi2 {
	float: right;
	width: 41.66%;
	height: auto;
}

.about_img2 img {
	padding-top: 20px;
	display: block;
	width: 85%;
	height: auto;
	padding-left: 0px;
}

.i_md {
	width: 1200px;
	margin: 0 auto;
}

.clearfix {
	display: block;
}

.about-two {
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 40px;
}

.i_md ul {
	width: 100%;
}

.i_md ul li {
	width: 192px;
	height: 96px;
	border: 2px solid #eee;
	float: left;
	margin-right: 73px;
	margin-bottom: 30px;
}

.i_md ul li img {
	width: 192px;
	height: 96px;
	vertical-align: top;
}

.address {
	width: 270px;
	height: auto;
	margin-top: 24px;
	float: left;
}

.i-map {
	width: 872px;
	height: 370px;
	float: right;
}

.map {
	width: 872px;
	height:370px;
	border: #ccc solid 1px;   
}