<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/script/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <title>友情链接添加</title>
    <style>
        #friendLinkForm {
            margin-left: 130px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form class="layui-form" id="friendLinkForm">
    <div class="layui-form-item">
        <label class="layui-form-label" for="linkName">网站名称</label>
        <div class="layui-input-inline">
            <input type="text" name="linkName" id="linkName" lay-verify="required|checkLinkName" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="img">上传图片</label>
        <div class="layui-input-inline">
            <input type="file" name="img" id="img" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="linkUrl">网站地址</label>
        <div class="layui-input-inline">
            <input type="text" name="linkUrl" id="linkUrl" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新窗口打开</label>
        <div class="layui-input-block">
            <input type="checkbox" name="isBlank" value="Y" lay-skin="switch" lay-filter="required" lay-text="是|否">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="linkOrder">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="linkOrder" id="linkOrder" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 36%;">
            <button class="layui-btn" lay-submit="" lay-filter="sub">确定</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#typeTime'
        });
        //提交表单
        form.on('submit(sub)', function (data) {
            $.ajax({
                type: "POST",
                url: '[[@{/admin/friendLink}]]',
                data: new FormData($("#friendLinkForm")[0]),
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (result) {
                    if (result.code == 0) {
                        var id = layer.msg('添加成功',{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    } else {
                        var id = layer.msg(result.msg,{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    }
                }
            });
            return false;
        });
        //自定义验证规则
        form.verify({
            checkLinkName:function (value) {
                var exist = false;
                $.ajax({
                    async: false,
                    type: "GET",
                    url: '[[@{/admin/friendLink/checkLinkName/}]]' + value,
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 0) {
                            exist = true;
                        }
                    }
                });
                if(exist)
                    return "该友情链接重复";
            }
        });
    });
</script>
</body>
</html>