<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/script/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <title>学生编辑</title>
</head>
<body>
<img th:src="${student.studentIcon}" width="280" style="margin-left: 160px;margin-top: 10px;" height="160">
<form class="layui-form" id="imageForm" enctype="multipart/form-data" style="margin-top: 5px;">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="studentName" th:value="${student.studentName}" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">毕业院校</label>
        <div class="layui-input-inline">
            <input type="text" name="graduationSchool" th:value="${student.graduationSchool}" lay-verify="required" placeholder="请输入院校" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">研究领域</label>
        <div class="layui-input-inline">
            <input type="text" name="researchField" th:value="${student.researchField}" lay-verify="required" placeholder="请输入领域" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属年级</label>
        <div class="layui-input-inline">
            <input type="text" name="belongGrade" th:value="${student.belongGrade}" lay-verify="required|number" placeholder="请输入年级" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上传头像</label>
        <div class="layui-input-inline">
            <input type="file" name="imageFile">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="studentStatus" th:checked="${student.studentStatus == '1'}" value="1" lay-skin="switch" lay-filter="required" lay-text="提交|保存">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="sub">修改</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;
        //提交表单
        form.on('submit(sub)', function (data) {
            $.ajax({
                type: "PUT",
                url: '[[@{/admin/student/}]]'+"[[${student.studentId}]]",
                data: new FormData($("#imageForm")[0]),
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (result) {
                    if (result.code == 0) {
                        var id = layer.msg('修改成功',{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    } else {
                        var id = layer.msg('修改失败',{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>