<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/script/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <title>学生添加</title>
</head>
<body>
<form class="layui-form" id="imageForm" enctype="multipart/form-data" style="margin-top: 15px;margin-left: 106px;">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="studentName" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">毕业院校</label>
        <div class="layui-input-inline">
            <input type="text" name="graduationSchool" lay-verify="required" placeholder="请输入院校" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">研究领域</label>
        <div class="layui-input-inline">
            <input type="text" name="researchField" lay-verify="required" placeholder="请输入领域" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属年级</label>
        <div class="layui-input-inline">
            <input type="text" name="belongGrade" lay-verify="required|number" placeholder="请输入年级" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上传头像</label>
        <div class="layui-input-inline">
            <input type="file" name="imageFile" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="studentStatus" value="1" lay-skin="switch" lay-filter="required" lay-text="提交|保存">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="sub">确定</button>
        </div>
    </div>
</form>
</div>
<hr />
<script>
    layui.use('form', function(){
        var form = layui.form;
        //提交表单
        form.on('submit(sub)', function (data) {
            $.ajax({
                type: "POST",
                url: '[[@{/admin/student}]]',
                data: new FormData($("#imageForm")[0]),
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (result) {
                    if (result.code == 0) {
                        var id = layer.msg(result.msg,{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    } else {
                        var id = layer.msg(result.msg,{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>