<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/052420055976_files/style.css}" />
</head>
<body>
<div class="stl_02">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_02.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:70.0833em; height:49.5833em;">
            <embed th:src="@{/052420055976_files/img_02.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_05 stl_06">
            <div class="stl_01" style="top:4.6546em; left:14.25em;"><span class="stl_07 stl_08 stl_09" style="visibility:hidden;">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:17.0666em; left:14.3299em;"><span class="stl_10 stl_11 stl_09">[</span></div>
            <div class="stl_01" style="top:17.0013em; left:15.49em;"><span class="stl_12 stl_08 stl_09">光子学研究中心网站 &nbsp;</span></div>
            <div class="stl_01" style="top:22.1914em; left:31.8299em;"><span class="stl_12 stl_08 stl_09">后台操作培训手册</span><span class="stl_10 stl_11 stl_09">] &nbsp;</span></div>
            <div class="stl_01" style="top:31.6907em; left:47.1799em;"><span class="stl_13 stl_08 stl_14">使用单位：桂电光子学研究中心 &nbsp;</span></div>
            <div class="stl_01" style="top:32.9907em; left:47.1799em;"><span class="stl_13 stl_08 stl_15" style="word-spacing:0.0022em;">地址：桂林市七星区金鸡路 </span><span class="stl_16 stl_11 stl_15" style="word-spacing:0.0022em;">1 </span><span class="stl_13 stl_08 stl_15" style="word-spacing:0.0022em;">号 &nbsp;</span></div>
            <div class="stl_01" style="top:34.2908em; left:47.1799em;"><span class="stl_13 stl_08 stl_17">联系电话：</span><span class="stl_16 stl_11 stl_17">13557732847 &nbsp;</span></div>
            <div class="stl_01" style="top:35.5908em; left:47.1799em;"><span class="stl_13 stl_08 stl_18">编制人：何冰梅 &nbsp;</span></div>
            <div class="stl_01" style="top:36.8907em; left:47.1799em;"><span class="stl_13 stl_08 stl_19" style="word-spacing:-0.0109em;">日期：</span><span class="stl_16 stl_11 stl_19" style="word-spacing:-0.0109em;">2019 </span><span class="stl_13 stl_08 stl_19" style="word-spacing:-0.0109em;">年 </span><span class="stl_16 stl_11 stl_19" style="word-spacing:-0.0109em;">4 </span><span class="stl_13 stl_08 stl_19" style="word-spacing:-0.0109em;">月 </span><span class="stl_16 stl_11 stl_19" style="word-spacing:-0.0109em;">29 </span><span class="stl_13 stl_08 stl_19" style="word-spacing:-0.0109em;">日 &nbsp;</span></div>
            <div class="stl_01" style="top:44.6708em; left:34.89em;"><span class="stl_20 stl_11 stl_09" style="visibility:hidden;">1</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_03.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_03.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:6.3072em; left:22.97em;"><span class="stl_24 stl_08 stl_25">目录 &nbsp;</span></div>
            <div class="stl_01" style="top:9.143em; left:7.5em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2535em;">一、 基本介绍</span><span class="stl_28 stl_11 stl_27" style="word-spacing:0.2535em;">...........................................................................................</span><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2535em;"> 2 &nbsp;</span></div>
            <div class="stl_01" style="top:11.743em; left:7.5em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2535em;">二、 基本操作</span><span class="stl_28 stl_11 stl_27" style="word-spacing:0.2535em;">...........................................................................................</span><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2535em;"> 2 &nbsp;</span></div>
            <div class="stl_01" style="top:14.443em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:17.043em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:19.643em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:22.243em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:24.843em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:27.443em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:30.043em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:32.643em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:35.243em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:37.843em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:40.443em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:43.043em; left:9.25em;"><span class="stl_26 stl_08 stl_09">2</span></div>
            <div class="stl_01" style="top:14.343em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2495em;">-1 登录</span><span class="stl_28 stl_11 stl_27" style="word-spacing:0.2495em;">................................................................................................</span><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2495em;">2 &nbsp;</span></div>
            <div class="stl_01" style="top:16.943em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0365em;">-3 网站后台首页简介</span><span class="stl_28 stl_11 stl_27" style="word-spacing:-0.0365em;">........................................................................ </span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0365em;">4 &nbsp;</span></div>
            <div class="stl_01" style="top:19.543em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2495em;">-4 用户管理</span><span class="stl_28 stl_11 stl_27" style="word-spacing:0.2495em;">.......................................................................................</span><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2495em;"> 4 &nbsp;</span></div>
            <div class="stl_01" style="top:22.143em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">-5 图片管理</span><span class="stl_28 stl_11 stl_27" style="word-spacing:-0.0109em;">........................................................................................ </span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">5 &nbsp;</span></div>
            <div class="stl_01" style="top:24.743em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">-6 新闻管理</span><span class="stl_28 stl_11 stl_27" style="word-spacing:-0.0109em;">........................................................................................ </span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">6 &nbsp;</span></div>
            <div class="stl_01" style="top:27.343em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">-7 通知管理</span><span class="stl_28 stl_11 stl_27" style="word-spacing:-0.0109em;">........................................................................................ </span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">7 &nbsp;</span></div>
            <div class="stl_01" style="top:29.943em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">-8 链接管理</span><span class="stl_28 stl_11 stl_27" style="word-spacing:-0.0109em;">........................................................................................ </span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">7 &nbsp;</span></div>
            <div class="stl_01" style="top:32.543em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">-9 教师管理</span><span class="stl_28 stl_11 stl_27" style="word-spacing:-0.0109em;">........................................................................................ </span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0109em;">8 &nbsp;</span></div>
            <div class="stl_01" style="top:35.143em; left:9.84em;"><span class="stl_26 stl_08 stl_29" style="word-spacing:0.2583em;">-10 申请管理</span><span class="stl_28 stl_11 stl_29" style="word-spacing:0.2583em;">.....................................................................................</span><span class="stl_26 stl_08 stl_29" style="word-spacing:0.2583em;"> 9 &nbsp;</span></div>
            <div class="stl_01" style="top:37.743em; left:9.84em;"><span class="stl_26 stl_08 stl_29" style="word-spacing:0.2583em;">-11 个人中心</span><span class="stl_28 stl_11 stl_29" style="word-spacing:0.2583em;">.....................................................................................</span><span class="stl_26 stl_08 stl_29" style="word-spacing:0.2583em;"> 9 &nbsp;</span></div>
            <div class="stl_01" style="top:40.343em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.013em;">-12 学生管理</span><span class="stl_28 stl_11 stl_27" style="word-spacing:-0.013em;">...................................................................................... </span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.013em;">9 &nbsp;</span></div>
            <div class="stl_01" style="top:42.943em; left:9.84em;"><span class="stl_26 stl_08 stl_27" style="word-spacing:0.2582em;">-13 数据备份</span><span class="stl_28 stl_11 stl_27" style="word-spacing:0.2582em;">...................................................................................</span><span class="stl_26 stl_08 stl_27" style="word-spacing:-0.0343em;"> 10 &nbsp;</span></div>
            <div class="stl_01" style="top:45.543em; left:7.5em;"><span class="stl_26 stl_08 stl_30" style="word-spacing:0.2531em;">三、 说明</span><span class="stl_28 stl_11 stl_30" style="word-spacing:0.2531em;">..................................................................................................</span><span class="stl_26 stl_08 stl_30" style="word-spacing:0.2531em;">10 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">2</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_05.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_05.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:6.643em; left:7.5em;"><span class="stl_26 stl_08 stl_30">一、基本介绍 &nbsp;</span></div>
            <div class="stl_01" style="top:8.9997em; left:9.5em;"><span class="stl_31 stl_08 stl_32">该网站后台系统适用于桂电光子学研究中心的日常管理工作，其为树立光子 &nbsp;</span></div>
            <div class="stl_01" style="top:10.6698em; left:7.5em;"><span class="stl_31 stl_08 stl_33">学研究中心对外形象，提高知名度，吸引人才，实现学术资源共享，促进光子学 &nbsp;</span></div>
            <div class="stl_01" style="top:12.3398em; left:7.5em;"><span class="stl_31 stl_08 stl_09">学科的发展而建设，目前，该网站后台系统由用户管理、图片管理、新闻管理、 &nbsp;</span></div>
            <div class="stl_01" style="top:13.9997em; left:7.5em;"><span class="stl_31 stl_08 stl_33">通知管理、链接管理、成员管理、申请管理、个人中心、学生管理等组成。相对 &nbsp;</span></div>
            <div class="stl_01" style="top:15.6698em; left:7.5em;"><span class="stl_31 stl_08 stl_33">而言，本网站后台系统简单易用，轻松上手，具体的使用说明，详看如下的基本 &nbsp;</span></div>
            <div class="stl_01" style="top:17.193em; left:7.5em;"><span class="stl_31 stl_08 stl_09">操作</span><span class="stl_26 stl_08 stl_09">。 &nbsp;</span></div>
            <div class="stl_01" style="top:20.9029em; left:7.5em;"><span class="stl_26 stl_08 stl_30">二、基本操作 &nbsp;</span></div>
            <div class="stl_01" style="top:23.5281em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:23.5029em; left:8.09em;"><span class="stl_28 stl_11 stl_34" style="word-spacing:0.2414em;">-1 </span><span class="stl_26 stl_08 stl_34" style="word-spacing:0.2414em;">登录 &nbsp;</span></div>
            <div class="stl_01" style="top:25.8698em; left:7.5em;"><span class="stl_31 stl_08 stl_09">登录网址：</span><a href="http://www.syzheng.xyz:8080/rc/admin/login" target="_blank"><span class="stl_35 stl_08 stl_09">http://www.syzheng.xyz:8080/rc/admin/login &nbsp;</span></a></div>
            <div class="stl_01" style="top:27.5398em; left:9.5em;"><span class="stl_31 stl_08 stl_32">说明：本网站后台系统，共分为两种角色的管理员，分别是超级管理员和网 &nbsp;</span></div>
            <div class="stl_01" style="top:29.1997em; left:7.5em;"><span class="stl_31 stl_08 stl_33">站管理员。这两种权限角色的区别在于：超级管理员能够管理网站用户，即具有 &nbsp;</span></div>
            <div class="stl_01" style="top:30.8698em; left:7.5em;"><span class="stl_31 stl_08 stl_33">用户管理权限，而网站管理员没有。因此，网站管理员的登录账号密码，统一由 &nbsp;</span></div>
            <div class="stl_01" style="top:32.5398em; left:7.5em;"><span class="stl_31 stl_08 stl_33">超级管理员分配，若忘记密码，亦可联系超级管理员重置，具有的登录步骤，如 &nbsp;</span></div>
            <div class="stl_01" style="top:34.1997em; left:7.5em;"><span class="stl_31 stl_08 stl_36" style="word-spacing:0.0015em;">图 </span><span class="stl_37 stl_11 stl_36" style="word-spacing:0.0015em;">2-1 </span><span class="stl_31 stl_08 stl_36" style="word-spacing:0.0015em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:60.2398em; left:17.25em;"><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0006em;">图 </span><span class="stl_37 stl_11 stl_34" style="word-spacing:0.0006em;">2-1</span><span class="stl_31 stl_08 stl_34" style="word-spacing:0.2505em;"> 后台管理系统登录说明 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">3</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_08.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_08.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:6.3997em; left:9.5em;"><span class="stl_31 stl_08 stl_09">若登录失败，则会弹出错误信息，请根据错误提示，重新登录即可。 &nbsp;</span></div>
            <div class="stl_01" style="top:8.3029em; left:8.09em;"><span class="stl_28 stl_11 stl_38" style="word-spacing:-0.0008em;">-2 </span><span class="stl_26 stl_08 stl_38" style="word-spacing:-0.0008em;">登录—密码修改 &nbsp;</span></div>
            <div class="stl_01" style="top:8.3281em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:28.5398em; left:19.17em;"><span class="stl_31 stl_08 stl_39" style="word-spacing:0.0012em;">图 </span><span class="stl_37 stl_11 stl_39" style="word-spacing:0.0012em;">2-2</span><span class="stl_31 stl_08 stl_39" style="word-spacing:0.2513em;"> 修改密码 &nbsp;</span></div>
            <div class="stl_01" style="top:30.4281em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:30.4029em; left:8.09em;"><span class="stl_28 stl_11 stl_40" style="word-spacing:-0.0014em;">-3 </span><span class="stl_26 stl_08 stl_40" style="word-spacing:-0.0014em;">网站后台首页简介 &nbsp;</span></div>
            <div class="stl_01" style="top:32.7698em; left:9.5em;"><span class="stl_31 stl_08 stl_41" style="word-spacing:0.0002em;">本网站后台如图 </span><span class="stl_37 stl_11 stl_41" style="word-spacing:0.0002em;">2-3 </span><span class="stl_31 stl_08 stl_41" style="word-spacing:0.0002em;">所示，主要包含菜单栏、网站后台开发信息、访客量、 &nbsp;</span></div>
            <div class="stl_01" style="top:34.4398em; left:7.5em;"><span class="stl_31 stl_08 stl_09">下载量、用户数的统计、登录日志，更换网站样式等，是后台管理入口。 &nbsp;</span></div>
            <div class="stl_01" style="top:51.3698em; left:18.5799em;"><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0009em;">图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0009em;">2-3</span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.251em;"> 网站后台首页 &nbsp;</span></div>
            <div class="stl_01" style="top:54.5581em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:54.533em; left:8.09em;"><span class="stl_28 stl_11 stl_43" style="word-spacing:0.2461em;">-4 </span><span class="stl_26 stl_08 stl_43" style="word-spacing:0.2461em;">用户管理 &nbsp;</span></div>
            <div class="stl_01" style="top:56.8997em; left:9.5em;"><span class="stl_31 stl_08 stl_32">用户管理主要是面向网站超级管理员，网站管理员没有该权限。超级管理员 &nbsp;</span></div>
            <div class="stl_01" style="top:58.5698em; left:7.5em;"><span class="stl_31 stl_08 stl_44" style="word-spacing:-0.0089em;">能够对用户进行添加、删除、查询、修改操作，具体的操作，如图 </span><span class="stl_37 stl_11 stl_44" style="word-spacing:-0.0089em;">2-4</span><span class="stl_31 stl_08 stl_44" style="word-spacing:-0.0089em;">、图 </span><span class="stl_37 stl_11 stl_44" style="word-spacing:-0.0089em;">2-5 &nbsp;</span></div>
            <div class="stl_01" style="top:60.2398em; left:7.5em;"><span class="stl_31 stl_08 stl_09">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">4</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_12.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_12.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:24.2497em; left:18em;"><span class="stl_31 stl_08 stl_39" style="word-spacing:0.0012em;">图 </span><span class="stl_37 stl_11 stl_39" style="word-spacing:0.0012em;">2-4</span><span class="stl_31 stl_08 stl_39" style="word-spacing:0.2512em;"> 添加用户 &nbsp;</span></div>
            <div class="stl_01" style="top:33.3398em; left:18.5em;"><span class="stl_31 stl_08 stl_39" style="word-spacing:0.0012em;">图 </span><span class="stl_37 stl_11 stl_39" style="word-spacing:0.0012em;">2-5</span><span class="stl_31 stl_08 stl_39" style="word-spacing:0.2512em;"> 用户管理 &nbsp;</span></div>
            <div class="stl_01" style="top:35.2281em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:35.2029em; left:8.09em;"><span class="stl_28 stl_11 stl_43" style="word-spacing:-0.0016em;">-5 </span><span class="stl_26 stl_08 stl_43" style="word-spacing:-0.0016em;">图片管理 &nbsp;</span></div>
            <div class="stl_01" style="top:37.5698em; left:9.25em;"><span class="stl_31 stl_08 stl_45">图片管理即对网站首页的轮播图进行管理，可以进行添加、修改、删除、查 &nbsp;</span></div>
            <div class="stl_01" style="top:39.2297em; left:7.5em;"><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">询的操作，具体如图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0008em;">2-6</span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">、图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0008em;">2-7 </span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:57.4698em; left:21.47em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-6</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.2511em;"> 添加轮播图 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">5</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_17.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_17.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:12.5698em; left:20.3299em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-7</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.2512em;"> 轮播图管理 &nbsp;</span></div>
            <div class="stl_01" style="top:14.4481em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:14.423em; left:8.09em;"><span class="stl_28 stl_11 stl_43" style="word-spacing:-0.0016em;">-6 </span><span class="stl_26 stl_08 stl_43" style="word-spacing:-0.0016em;">新闻管理 &nbsp;</span></div>
            <div class="stl_01" style="top:16.7898em; left:9.5em;"><span class="stl_31 stl_08 stl_32">新闻管理运用于网站新闻以及相关服务动态的高频率更新，可以通过后台对 &nbsp;</span></div>
            <div class="stl_01" style="top:18.4598em; left:7.5em;"><span class="stl_31 stl_08 stl_33">新闻进行分类，即存在新闻类别管理，其次，能够添加、删除、查询、修改新闻 &nbsp;</span></div>
            <div class="stl_01" style="top:20.1198em; left:7.5em;"><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">及对新闻进行预览，新闻访客量统计等功能，具体如图 </span><span class="stl_37 stl_11 stl_47" style="word-spacing:0.0005em;">2-8~</span><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">图 </span><span class="stl_37 stl_11 stl_47" style="word-spacing:0.0005em;">2-10 </span><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:34.7698em; left:19.5em;"><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0009em;">图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0009em;">2-8 </span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0009em;">新闻类别管理 &nbsp;</span></div>
            <div class="stl_01" style="top:41.4398em; left:20.92em;"><span class="stl_31 stl_08 stl_39" style="word-spacing:0.0012em;">图 </span><span class="stl_37 stl_11 stl_39" style="word-spacing:0.0012em;">2-9</span><span class="stl_31 stl_08 stl_39" style="word-spacing:0.2513em;"> 新闻管理 &nbsp;</span></div>
            <div class="stl_01" style="top:62.5698em; left:21.5em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-10</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.251em;"> 添加新闻 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">6</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_22.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_22.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:6.2781em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:6.2529em; left:8.09em;"><span class="stl_28 stl_11 stl_43" style="word-spacing:-0.0016em;">-7 </span><span class="stl_26 stl_08 stl_43" style="word-spacing:-0.0016em;">通知管理 &nbsp;</span></div>
            <div class="stl_01" style="top:8.0698em; left:9.25em;"><span class="stl_31 stl_08 stl_27">通知管理与新闻管理类似，同样是分为通知管理与通知分类管理，能够对通 &nbsp;</span></div>
            <div class="stl_01" style="top:9.7398em; left:7.5em;"><span class="stl_31 stl_08 stl_33">知进行添加、删除、查询、修改和预览等操作，以及对通知分类进行增、删、改 &nbsp;</span></div>
            <div class="stl_01" style="top:11.3997em; left:7.5em;"><span class="stl_31 stl_08 stl_48" style="word-spacing:0.0093em;">操作，具体如图 </span><span class="stl_37 stl_11 stl_48" style="word-spacing:0.0093em;">2-11~</span><span class="stl_31 stl_08 stl_48" style="word-spacing:0.0093em;">图 </span><span class="stl_37 stl_11 stl_48" style="word-spacing:0.0093em;">2-13 </span><span class="stl_31 stl_08 stl_48" style="word-spacing:0.0093em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:19.5497em; left:18em;"><span class="stl_31 stl_08 stl_48" style="word-spacing:0.0058em;">图 </span><span class="stl_37 stl_11 stl_48" style="word-spacing:0.0058em;">2-11</span><span class="stl_31 stl_08 stl_48" style="word-spacing:0.2459em;"> 添加通知分类 &nbsp;</span></div>
            <div class="stl_01" style="top:27.7098em; left:19em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-12</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.251em;"> 通知管理 &nbsp;</span></div>
            <div class="stl_01" style="top:46.0398em; left:20.8299em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-13</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.2512em;"> 添加通知 &nbsp;</span></div>
            <div class="stl_01" style="top:49.2581em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:49.2329em; left:8.09em;"><span class="stl_28 stl_11 stl_43" style="word-spacing:-0.0016em;">-8 </span><span class="stl_26 stl_08 stl_43" style="word-spacing:-0.0016em;">链接管理 &nbsp;</span></div>
            <div class="stl_01" style="top:51.0497em; left:7.5em;"><span class="stl_31 stl_08 stl_49">链接管理即是对友情链接的管理，能够自主的对友情链接进行添加、删除、查询、 &nbsp;</span></div>
            <div class="stl_01" style="top:52.7098em; left:7.5em;"><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0007em;">修改操作，具体如图 </span><span class="stl_37 stl_11 stl_34" style="word-spacing:0.0007em;">2-14</span><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0007em;">、图 </span><span class="stl_37 stl_11 stl_34" style="word-spacing:0.0007em;">2-15 </span><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0007em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:61.0398em; left:20.5em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-14</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.251em;"> 链接管理 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">7</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_26.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_26.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:22.6198em; left:16.5em;"><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0008em;">2-15</span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.2507em;"> 添加友情链接 &nbsp;</span></div>
            <div class="stl_01" style="top:25.8281em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:25.8029em; left:8.09em;"><span class="stl_28 stl_11 stl_43" style="word-spacing:-0.0016em;">-9 </span><span class="stl_26 stl_08 stl_43" style="word-spacing:-0.0016em;">教师管理 &nbsp;</span></div>
            <div class="stl_01" style="top:27.6198em; left:9.0799em;"><span class="stl_31 stl_08 stl_50">教师管理即是对研究中心教师队伍的管理，能够对中心成员进行添加、删除、 &nbsp;</span></div>
            <div class="stl_01" style="top:29.2898em; left:7.5em;"><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0006em;">查询、修改操作，具体如图 </span><span class="stl_37 stl_11 stl_34" style="word-spacing:0.0006em;">2-16</span><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0006em;">、图 </span><span class="stl_37 stl_11 stl_34" style="word-spacing:0.0006em;">2-17 </span><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0006em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:54.2898em; left:19.17em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-16</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.2511em;"> 添加教师 &nbsp;</span></div>
            <div class="stl_01" style="top:62.4398em; left:20.3299em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.0011em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.0011em;">2-17 </span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.0011em;">教师管理 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">8</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_30.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_30.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:6.2781em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:6.2529em; left:8.09em;"><span class="stl_28 stl_11 stl_51" style="word-spacing:0.247em;">-10 </span><span class="stl_26 stl_08 stl_51" style="word-spacing:0.247em;">申请管理 &nbsp;</span></div>
            <div class="stl_01" style="top:8.0698em; left:10.17em;"><span class="stl_31 stl_08 stl_52">申请管理即是对在网站前端的在线申请系统中提交的表单进行管理。通过 &nbsp;</span></div>
            <div class="stl_01" style="top:9.7298em; left:7.5em;"><span class="stl_31 stl_08 stl_53" style="word-spacing:-0.0083em;">此功能，能够对申请表单进行查看、删除、查询操作，具体如图 </span><span class="stl_37 stl_11 stl_53" style="word-spacing:-0.0083em;">2-18</span><span class="stl_31 stl_08 stl_53" style="word-spacing:-0.0083em;">、图 </span><span class="stl_37 stl_11 stl_53" style="word-spacing:-0.0083em;">2-19 &nbsp;</span></div>
            <div class="stl_01" style="top:11.3997em; left:7.5em;"><span class="stl_31 stl_08 stl_09">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:18.0698em; left:20.3299em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-18</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.2512em;"> 申请管理 &nbsp;</span></div>
            <div class="stl_01" style="top:37.5797em; left:20.3299em;"><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0008em;">2-19</span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.2509em;"> 查看申请表单 &nbsp;</span></div>
            <div class="stl_01" style="top:39.1181em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:39.093em; left:8.09em;"><span class="stl_28 stl_11 stl_54" style="word-spacing:0.2401em;">-11 </span><span class="stl_26 stl_08 stl_54" style="word-spacing:0.2401em;">个人中心 &nbsp;</span></div>
            <div class="stl_01" style="top:40.9198em; left:10.5799em;"><span class="stl_31 stl_08 stl_09">个人中心主要包括查看个人基本信息和修改密码功能。点击“基本信息” &nbsp;</span></div>
            <div class="stl_01" style="top:42.5797em; left:7.5em;"><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">即可查看，具体如图 </span><span class="stl_37 stl_11 stl_47" style="word-spacing:0.0005em;">2-20 </span><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:57.5797em; left:20.5em;"><span class="stl_31 stl_08 stl_46" style="word-spacing:0.001em;">图 </span><span class="stl_37 stl_11 stl_46" style="word-spacing:0.001em;">2-20</span><span class="stl_31 stl_08 stl_46" style="word-spacing:0.251em;"> 个人中心 &nbsp;</span></div>
            <div class="stl_01" style="top:59.1181em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:59.093em; left:8.09em;"><span class="stl_28 stl_11 stl_51" style="word-spacing:-0.0008em;">-12 </span><span class="stl_26 stl_08 stl_51" style="word-spacing:-0.0008em;">学生管理 &nbsp;</span></div>
            <div class="stl_01" style="top:60.9198em; left:9.25em;"><span class="stl_31 stl_08 stl_27">学生管理即是对本研究中心各年级学生进行管理。能够通过后台对学生进行 &nbsp;</span></div>
            <div class="stl_01" style="top:62.5797em; left:7.5em;"><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">添加、删除、查询、修改操作，具体如图 </span><span class="stl_37 stl_11 stl_47" style="word-spacing:0.0005em;">2-21</span><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">、图 </span><span class="stl_37 stl_11 stl_47" style="word-spacing:0.0005em;">2-22 </span><span class="stl_31 stl_08 stl_47" style="word-spacing:0.0005em;">所示。 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.62em;"><span class="stl_20 stl_11 stl_09">9</span></div>
        </div>
    </div>
</div>
<div class="stl_21">
    <div class="stl_03">
        <object data="httP://localhost:8080/rc/052420055976_files/img_33.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
            <embed th:src="@{/052420055976_files/img_33.svg}" type="image/svg+xml" class="stl_04" />
        </object>
    </div>
    <div class="view">
        <div class="stl_22 stl_23">
            <div class="stl_01" style="top:4.6046em; left:15.75em;"><span class="stl_07 stl_08 stl_09">光子学研究中心后台操作培训手册—仅供内部使用 &nbsp;</span></div>
            <div class="stl_01" style="top:20.9997em; left:17.42em;"><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0008em;">2-21</span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.2508em;"> 学生信息管理 &nbsp;</span></div>
            <div class="stl_01" style="top:40.1898em; left:18.5799em;"><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">图 </span><span class="stl_37 stl_11 stl_42" style="word-spacing:0.0008em;">2-22 </span><span class="stl_31 stl_08 stl_42" style="word-spacing:0.0008em;">添加学生信息 &nbsp;</span></div>
            <div class="stl_01" style="top:41.7381em; left:7.5em;"><span class="stl_28 stl_11 stl_09">2</span></div>
            <div class="stl_01" style="top:41.713em; left:8.09em;"><span class="stl_28 stl_11 stl_51" style="word-spacing:0.247em;">-13 </span><span class="stl_26 stl_08 stl_51" style="word-spacing:0.247em;">数据备份 &nbsp;</span></div>
            <div class="stl_01" style="top:43.5297em; left:10em;"><span class="stl_31 stl_08 stl_55">数据备份是将本网站后台系统所涉及到的数据库文件，手动下载备份，以 &nbsp;</span></div>
            <div class="stl_01" style="top:45.1898em; left:7.5em;"><span class="stl_31 stl_08 stl_09">防数据丢失。 &nbsp;</span></div>
            <div class="stl_01" style="top:48.3829em; left:7.5em;"><span class="stl_26 stl_08 stl_56">三、说明 &nbsp;</span></div>
            <div class="stl_01" style="top:50.1898em; left:9.5em;"><span class="stl_31 stl_08 stl_32">本网站为本人的毕业设计作品，在功能上，与实际成熟、稳定的平台之间存 &nbsp;</span></div>
            <div class="stl_01" style="top:51.8598em; left:7.5em;"><span class="stl_31 stl_08 stl_33">在着较大的差距，用户的部分需求仅能停留在基本实现上，目前没能做到尽善尽 &nbsp;</span></div>
            <div class="stl_01" style="top:53.5297em; left:7.5em;"><span class="stl_31 stl_08 stl_09">美，且无法保证后台系统的稳定性及简便性。若在使用过程中，出现任何问题， &nbsp;</span></div>
            <div class="stl_01" style="top:55.1898em; left:7.5em;"><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0007em;">欢迎致电 </span><span class="stl_37 stl_11 stl_34" style="word-spacing:0.0007em;">135-5773-2847 </span><span class="stl_31 stl_08 stl_34" style="word-spacing:0.0007em;">咨询解决。 &nbsp;</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.4299em;"><span class="stl_20 stl_11 stl_09">1</span></div>
            <div class="stl_01" style="top:65.1708em; left:24.8099em;"><span class="stl_20 stl_11 stl_09">0</span></div>
        </div>
    </div>
</div>
</body>
</html>